 
 :root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:rgb(132, 132, 132);
    --primary-color:rgb(184, 181, 181); 
    --green-color:#26ae60;
    --product-color:rgb(76, 1, 161);
    --blue-color:#1c426d;
    --background-color:#f8f6f6;
}
 *{
    box-sizing: border-box;
 }
 html{
   scroll-padding-top: 70px;
 }
 p{
   margin:0;
 }
 ul{
   margin:0;
   padding:0;
 }
 
 .btn{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(132, 132, 132);
    border-radius: 2px;
    padding:5px 15px;
 }
 .btn.btn-active{
    background-color: rgb(40, 176, 40);
    color: white;
 }
 .items-link.btn:hover{
    background-color: rgb(40, 176, 40);
    color: white;
 }