                        /*HEADER*/
.header{
    background-image: linear-gradient(white,#f8f6f6); 
    box-shadow: 0 2px 4px var(--primary-color);
    position:fixed; 
    left:0;
    top:0;
    right:0;
    z-index: 2;
}
.logo{
    height: 60px;
    width: 80px;
    background-image: url(/assets/image/4527_mvum_211208.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color:  #e7e9eb;
}
.header-navbar{
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
.header__navbar-items{
    list-style: none;
}
.items-link{
    text-decoration: none;
}
.header__navbar-list{
    display: flex;
}
.header__navbar-extentions{
    display: flex; 
}
.header-icon{
    color: black;
    background-color:#f0f0f0;
    padding:0;
    height: 30px;
    width: 30px;
    border-radius: 50%; 
    margin:5px;
    cursor: pointer;
    transition: all 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header-icon:hover i {
    transform:rotate(360deg);
    transition: all 0.3s;
}
.header-icon:first-child{
    display: none;
}
.header-icon::before{
    content: "";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.header-icon.icon-active{
    background-color: var(--green-color);
    color: white;
}
#user-check{
    display: none;
}

                       /*SLIDES*/
.Home-selection{
    margin-top: 80px;
}
.slides{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.slide-contain{
    width:60%;
}
.slide-image{
    flex:1;
    height:400px;
    background-size: contain;
    background-repeat: no-repeat;

}
.slide-contain span{
    color: var(--green-color);
    font-size: 1.6rem;
}
.slide-contain h2{
    color: var(--product-color);
    font-size: 2.5rem;
    margin :20px 0;
}
.slide-contain p{
    color: var(--text-color);
    font-size: 1.2rem;
    width: 80%;
}
.slide-contain .btn{
    width:150px;
}
.slide-contain .btn:hover{
    box-shadow: 0 5px 2px #ccc;
}
.slide-contain .btn:active{
    transform: translateY(5px);
}


                /*DISHES*/
.dishes{
    background-color: #eff1f3;
}
.dishes-heading{
    margin-top:20px;
    padding:20px 0;
    text-align: center;
}
.note{
    color: var(--green-color);
    font-size:1.2rem;
}
.headding{
    color:var(--product-color);
    font-size: 1.4rem;
    margin:10px 0;
}

                /*PRODUCT*/
.dishes-product{
    width:100%;
    height: 230px; 
    background-size: contain;
    background-repeat: no-repeat;
}
.product-wrapper{
    position:relative;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.product-headding{
    text-align: center;
}
.ratting{
    color: var(--green-color);
}
.product-sell{
    display: flex;
    justify-content: space-between;
    padding:15px 0;
}
.price{
    color: var(--green-color);
    font-size: 1.7rem;
}
.add-cart{
    background-color: var(--blue-color);
    color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 20px;
    transition: padding 0.5s,background-color 0.5s;
    cursor: pointer;
}
.add-cart:hover{
    background-color: var(--green-color);
    padding:5px 25px;
}
.product-view{
    position:absolute;
    left:0;
    top:0;
    display: none;
    transition: background-color 0.5s,color 0.5s;
}

.product-favorite{
    position:absolute;
    right:0;
    top:0;
    transition: background-color 0.5s,color 0.5s;
    display: none;
}
.product-wrapper:hover .product-view{
    display: flex;
}
.product-wrapper:hover .product-favorite{
    display: flex;
}
.product-view:hover{
    background-color: var(--green-color);
    color: white;
}
.product-favorite:hover{
    background-color: var(--green-color);
    color: white;
}
                    /*About*/
.about-img{
    background-size: contain;
    height:400px;
    background-repeat: no-repeat;
}
.infomation-descri{
    color: var(--text-color);
    font-size: 1.2rem;
}
.information-headding{
    color: #4578bb;
    font-size:2rem;
}
.about-sell-list{
    list-style: none;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    padding-left: 0;
    margin:15px 0;
}
.about-sell-items{
    background-color: #f8f6f6;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 10px 5px;
    line-height: 1.8rem;
}
.about-sell-items i{
    color:var(--green-color);
    margin-right:5px;
}
.about-more.add-cart{
    height:30px;
    width:150px;
    font-family: Trocchi;
}
                    /*Review*/
.Review{
    background-color:white;
}
.user-image{
    background-image: url(/_07_sell-web/assets/image/user.jpg);
    width:80px;
    height:80px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
                    /*FEED BACK*/
.feedback-slides{
    width:350px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
}
.feedback-headding{
    display: flex;
    justify-content: space-around;
    padding:10px;
}
.feedback-icon{
    font-size: 4rem;
    color: #ccc;
}
.feedback-descri{
    color: var(--text-color);
   
}
.feedback-descrition{
    text-overflow: ellipsis;
    overflow: hidden;   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    padding:0 10px;
}
.feedback-more{
    text-decoration: none;
    color: var(--green-color);
    font-size: 1.2rem;
    margin-left:70%;
    transition: color 0.2s;
    padding:5px 0;
}
.feedback-more:hover{
   color:var(--blue-color);
}
.feedback-user{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;

}
                /*MENU*/
.Menu{
    background-color:var(--background-color) ;
}
.Category-food{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.food-items{
    padding:10px;
    color: black;
    border-radius: 50%;
    border: 2px solid var(--green-color);
    margin:10px;
    cursor: pointer;
}
.food-items.active{
    background-color: var(--green-color);
    color:white;
}
.food-items:hover{
    background-color: var(--green-color);
    color:white;
}
.food-wrapper.product-wrapper .dishes-product{
    height:180px;
}
.product-items{
    padding:0 10px;
}
.food-descri{
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
                /*ORDER*/
.form-wrapper{
    width:640px;
    margin: 0 auto;
}
.from-group{
    display: flex;
    margin-top:15px;
    flex-direction: column;

}
.form-label{
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;

}
.form-control{
 
    height:38px;
    border-radius: 4px;
    font-size: 1.4rem;
    border:1px solid #ccc;
    outline: none;
    padding-left: 10px;
    background-color: #fafafa; 

}
.form-control:focus{
    outline: 1px solid rgb(47, 121, 206);
    border:none
}
.form-submit{
    position:absolute;
    margin-top:20px;
    width: 300px;
    height:40px;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(0, 150, 255);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    bottom: 20px;
    
}
.form-submit:hover{
    background-color: rgb(0, 200, 255);
}
.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
  }
.invalid .form-control{
    border-color: #f33a58;
  }
.invalid .form-message{
    color:#f33a58;
  }
.login-mess{
    width:284px;
    height: 36px;
    color:#f33a58;
    margin:0 auto;
}
.genderdiv{
    margin:10px 0 0 10px;
    font-size: 1.3rem;
}
.Order{
    background-color: var(--background-color);
    padding-bottom: 10px;
}
.form-wrapper{
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position:relative;
    padding-bottom: 80px;
}
.form-control:last-child{
    height:200px;
}

                        /*FOOTER*/
.footer-headding{
    color:var(--blue-color);

}
.footer-list{
    list-style: none;
    margin-top:10px;

}
.footer-items{
    text-decoration: none;
    color: var(--text-color);
    padding:5px;
}
.footer-links{
    text-decoration: none;
    color: var(--text-color);
}
.footer-wrapper{
    display: flex;
    justify-content: space-around;
}
.footer-links:hover{
    text-decoration: solid;
    color:var(--blue-color);
}
.footer-map{
    display: block;
    background-image: url(/assets/image/map.png);
    width:60%;
    background-size: contain;
    height: 400px;
    margin:40px 20%;
    background-repeat: no-repeat;
}
 
                    /*BAR - SELECTOR */ 

.header-extention-bar{
    position:relative;
}

.bar-selector{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 300px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    left:-130px;
    top:40px;
    display: none;
}
.extention-search{
    position:relative;
}
.search{
    position:absolute;
    left:-60px;
    top:35px;
    display: none;
}
                /*User Information*/
.user-infomation{
    position:absolute;
    left:-210px;
    top:35px;
    background-color: white;
    width: 250px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    color: var(--green-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.user-infomation.user{
    width:180px;
    left: -60px;
}
.user-links{
    text-decoration: none;

}
.user-links.btn:hover{
    background-color: #e7e9eb;
    color: var(--green-color);
}
.user-infomation.hide{
    display: none;
}
.user-infomation span{
    font-size: 1.3rem;
    margin:20px;
}
.user-login{
    cursor: pointer;
    border: none;
    margin: 10px 20px;
    text-decoration: none;
}
.User-wrap{
    display: none;
}
.check-login{
    display: none;
}
.user-login:hover{
    box-shadow: 0px 5px 2px #ccc;
}
.user-login:active{
    transform: translateY(5px);
    box-shadow: 0px 0px 0px;
}
                /*CART LIST*/
.header__cart-list{
    position: absolute;
    right: -40px;
    top: 42px;
    background-color: white;
    box-shadow: 0 1px 4px #ccc;
    width: 300px;
    border-radius: 2px;
    transform-origin: 80% top;
    animation: Grow 0.3s ease;
    cursor: default;
    flex-direction: column;
    color: #333;
    z-index: 1;
    display: none;
}
                                         /*No Cart*/
.header__cart-list-no-cart{
    padding:35px 0;
    text-align: center;
}
.header__cart-list-no-cart .header__cart-no-cart-img,.header__cart-list-no-cart .cart-list-msg{
    display: block;
}
.header__cart-no-cart-img{
    width: 35%;
    margin: 20px auto;
}
.cart-list-msg{
    color: rgb(95, 94, 94);
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 20px;
}
.header__cart:hover .header__cart-list{
    display: block ;
}
.header__cart-notice{
    position: absolute;
    background-color: white;
    right: -18px;
    top:-10px;
    color: #333;
    font-size: 1.3rem   ;
    width: 26px;
    height: 20px;
    border:2px solid var(--primary-color);
    border-radius: 10px;
    text-align: center;
    color: var(--primary-color);
    padding-top:1px;
}
                        /*Favourite*/
.user-favourite{
    position:absolute;
    left:-200px;
    top:35px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: none;
    color: var(--green-color);
    flex-direction: column;
    justify-content: space-around;
}
.favourite-list{ 
    font-size: 1.4rem;
    color: rgb(65, 63, 63);
    list-style:none;
    margin:0;
    padding:0;
    max-height:50vh;
    overflow-y: scroll;
}
.favourite-list-items{
    display: flex;
    align-items: center;
    padding: 10px;
}
.favourite-list-items__background{
    width: 4.5rem;
    height:4.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 13px;
    border-radius: 50px;
  
}
.favourite-list-items__value{
    display: flex;
    height: 4.3rem;
}
.favourite-list-items:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}
.cart-name-wrap{
    width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 10px;

}

                        /*AUTHENFORM*/
.authen-form-header{
    display: flex;
    justify-content: space-between;
}
.authen-form{
    align-self: center;
    background-color: white;
    animation: Surfing 0.5s linear;
    border-radius: 4px;
}
.authen-form-header p {
    color: var(--green-color);
    font-size: 1.2rem;
    text-decoration: none;
    margin: 10px;
    line-height: 1.6rem;
    cursor: pointer;
}
.authen-form-header p:hover{
    text-decoration-line: underline;
}
.authen-form.hide{
    display: none;
}
.confirm-order{
    background-color: white;
    width: 300px;
    animation: Surfing 0.5s linear;
    color: var(--green-color);
    border-radius: 4px;
    height:200px;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin:auto;
}
.confirm-order a {
    text-decoration: none;
}