/* Mobile and tablet */
    @media (max-width: 1023px) {
        .header__navbar-list{
            display: none;
        }
        .header__search.btn:first-child{
            display: flex;
        }
        .add-cart{
            padding: 0 10px;
        }
        .add-cart:hover{
            padding: 0 10px;
        }
    }
/*  small Mobile */
    @media (max-width: 439px ) {
        .price{
            font-size: 1.3rem;
        }
    }