/* tablet - small laptop */
    @media (max-width: 1023px) {
        .header__navbar-list{
            display: none;
        }
        .header__search.btn:first-child{ 
            display: flex; 
        } 
        .add-cart{
            padding: 0 10px;
        }
        .add-cart:hover{
            padding: 0 10px;
        }
        .dishes-product{
            height: 180px;
        }
        .about-us-contain{
            margin: 0 10px;
        }
        .header-icon:first-child{
            display: flex;
        } 
      
    }
/*  tablet-moblie */
    @media (max-width: 739px) {
        .slide{
            display: block;
            position: relative;
        }
        .slide-contain{
            position:absolute;
            bottom:0px;
            left:0;
            width: 100%;
            color:black;
            padding-left: 20px;
            padding-bottom: 20px;
            background-color: rgba(0, 0, 0, 0.2);
        }
        .slide-image{
            margin-left: 50px;
        }
        .slide-contain p{
            color:white;
        }
        .slide-contain span{
            color:rgb(36, 248, 8);
        }
        .form{
            display: block;
            padding-top:10px;
        }
        .form-wrapper{
            width: auto;
            display: flex;
            justify-content: center;
        }
        
      
    }
/*   Mobile */
@media (max-width: 414px ) {
    .dishes-product{
        height: 150px;
    }
    .slide-image{
        margin-left: 0;
    }
    .about-sell-items:not(.about-sell-items:nth-child(1)){
        border-left: 1px solid #ccc;
    }
}
@media (max-width:599px ) {
    .cart-name-wrap{
        width : auto;
    }
}